/* :root{
    --secondaryColor:#e12220;
}
 */

.hero_bg {
  background-color: brown;
}

.colour_bg {
  background-color: #e12220 !important;
}

.about__hero_container {
  background-image: url("../img/main/hero/about-hero.jpg");
  background-position: top;
  background-attachment: fixed;
  opacity: 0.6;
  height: 80vh;
}

.cta__aboutus_container {
  margin-top: 10rem;
}

.cta__aboutus_text {
  text-align: justify;
}

.hidden {
  display: none;
}
#myAnimation{
  position: absolute;
  top: -60px;
  width: 500px;
  animation: moveBike 1s linear infinite;
}

@keyframes moveBike{
  100%{
    transform: translateY(-1px);
  }
  50%{
    transform: translateY(2px);
  }
  0%{
    transform: translateY(-1px);
  }
}