/* @import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap'); */
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

.imageDiv{
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.imageDiv >img {
    align-self: center;
    text-align: center;
}

.imageOpen{
    position: absolute;
    cursor: pointer;
    left: 56%;
    top:45%;
    

}
.openDiv{
    position: absolute;
    z-index: 0.1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top:50px;
    bottom:1%;
    left:10%;
    background-color:red
    
    
    

}
.nativemodal{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.divInterior{
    width: 100%;
    padding: 40px;
    position: relative;
    text-align: center;
}

.helpIcon{
    position: absolute;
    left: 0;
	right: 0;
    top: 60%;
	margin-left: auto;
 	margin-right: auto;
}

.closeIcon{
    position: absolute;
    left: 0;
	right: 0;
	top: 10%;
	margin-left: auto;
 	margin-right: auto;
}
.modalImage{
    width: 60%;
    border-radius: 15px;
    transition:transform 2s;
    
}
 /* .mainCar{
    
}  */


.header{
    width:100%;
    height: 100px;
    background-color: #dedede;
}
.title{
    width: 100%;
    padding:10px;
    height: 20px;
}
.modalImage:hover{
    
    transform: scale(1.5);
    cursor:zoom-out;

}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    align-self: center;
    -moz-animation: blink normal 3s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 3s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 3s infinite ease-in-out; /* IE */
    animation: blink normal 3s infinite ease-in-out; /* Opera and prob css3 final iteration */
    
}
.mainCover{
    display: flex;
    position:relative;
    align-items: center;
    justify-content: space-between;
    background: url('./images/showroom.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height:100%;

    
}

.bannerCSS{
    display: flex;
    position:relative;
    align-items: center;
    justify-content: space-around;
    background: url('./images/banner.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}
.title{
    background-color: #000;
    width: 100%;
    margin: auto;
}
.cover{
    display: flex;
    justify-content: space-around;
}

.navSidebar{
    font-family: Arial;
    font-size: 18px;
    width:300px;
    height: 100vh;
    background-color:rgb(0,0,0,0.5) ;
    top:0px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
  
}
.navSidebarTitle{
    font-family: Arial;
    font-size: 18px;
    width:100%;
    height: 30px;
    text-align: left;
    color:#fff;  
    margin-bottom: 20px;
    padding-left: 20px;
    margin-top: 10px;
}
.line{
    width: 50px;
    font-weight: 400px;
    color: #fff;
}
.sideleft{
    margin-top: 350px;
    cursor: pointer;
}
.sideright{
    margin-top: 350px;
    padding-right: 50px;
    cursor: pointer;
/* }
.productClass{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding:20px;
    color:#fff;
    cursor: pointer;
    text-align: left; 
    margin: 10px;
   
}


.productsDiv{
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    text-align: left;
    overflow-y: scroll;
    
}
.productsDiv > div{
    /* width: 100%;
    margin: 10px;
    padding:10px;
    flex:1 1 100%;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    padding:15px;
    color:#fff;
    cursor: pointer;
}
.productsDiv > ul{
    /* width: 100%;
    margin: 10px;
    padding:10px;
    flex:1 1 100%;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    padding:15px;
    color:#fff;
    cursor: pointer;
}

.productsDiv > div:hover{
    color: #cecece !important;
    background: rgba(0, 0, 0, 0.678);
    opacity: 0.75;
    width: 100%;
}
.productsDiv > ul:hover{
    color: #cecece !important;
    background: rgba(0, 0, 0, 0.678);
    opacity: 0.75;
    width: 100%;
} */

.active{
    color:#0d3050 !important ;
    font-weight: 600;
    background-color: rgba(255, 235, 205, 0.678);
    opacity: 0.75;
}
.myClass{
    display: flex;
    
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20%;
}

.dashboard{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5000;
}


